.container {
    width: 960px;
    margin: auto;
    position: relative;
}

body {

    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    color: #222;
}

nav ul{
    width: 100%;
    /*height: 100px;*/
    margin: auto;
    list-style: none;
    padding: 30px 0;
    height: 28px;
    background-color: rgba(255, 255, 255, .8);


}
.front {
    text-align: center;
    margin: auto;
}
nav li{
    float: right;

    margin-bottom: 8px;
}
.textHr {
    color: #666;
    margin-bottom: 50px ;

}
.textHr:before{
    content:'';
    /*height: 2px;*/
    width: 80px;
    position: absolute;
    border: 1px solid crimson;
    top:170px;
    right: 438px;

}

.Btitle {
    font-size: 50px;
    margin: 20px;
    color: #3e3e3e;
}

.bookingSize {
    width: 700px;
}

nav li a{
    /*display: inline-block;*/
    text-decoration: none;
    width: 500px;
    padding: 0px 50px;
    color: #a79a9a;
    text-align: center;
}

nav li a:hover {
    color: #edc9bd;

}

.banner {
    background-image: url(assets/images/spabanner.jpg);
    width: 100%;
    height: 560px;
    background-size: cover;
}

.bookingtitle {
    margin: auto;
    text-align: center;
    display: inline-block;
}

.BannerText {
   margin: auto;
    width: 500px;
    color: #ffffff;
    font-size: 40px;
    /*text-shadow: 2px 2px 4px ;*/
    padding-top: 150px;

}
.BannerText h2{
    /*background-color: hsla(290,60%,60%,0.2);*/
    color: aliceblue;
    font-size: 20px;
    text-shadow: 1px 1px 2px #64555c;

}
.BannerText h1 {
    height: 32px;
}
.Btn{
    width: 150px;
    height: 50px;
    border: 3px solid #a79a9a;
    background-color: transparent;
    display: block;
    border-radius: 50px;
    margin-top: 50px;
    color: white;
    font-size: 20px;
    text-align: center;
    line-height: 50px;
    text-shadow: none;

}
.Btn:hover{
    background-color: #a79a9a;
    transition: .5s;
    color: #222222;
}
.welcome {
    margin: auto;
    text-align: center;
}
.welcomeGroup{
    margin: auto;
    text-align: center;

}
.Ptitle {
    color: crimson;
}

.Stitle {
    color: black;
    font-size: 30px;
}

.Pnumber{
    color: #6b7386;
    font-size: 40px;
    font-weight: bold;
}
.Psub {
    color: silver;
    font-size: 20px;
}
.price {
    float: left;
    margin: 10px;
    padding: 20px;
    border: 1px solid gray;
    background-color: transparent;
    width: 258px;
    height: 400px;
}
.smalltext {
    font-size: 15px;
    color: #a79a9a;
}

.itemGroup .item {
    width: 50%;
    float: left;
    min-height: 400px;

}

.itemGroup .pix{
    background-image: url(assets/images/girl.jpg);
    width: 480px;
    height: 400px;
    background-size: cover;
}
.itemGroup .txt{
    text-align: left;
    margin: auto    ;
    line-height: 25px;
    padding-top: 50px;
}
.itemGroup p{
    width: 350px;
    height: 300px;
}

.tableBtn {
    width: 150px;
    height: 50px;
    border: 3px solid #a79a9a;
    background-color: transparent;
    display: inline-block;
    border-radius: 50px;
    margin-top: 50px;
    color: #000000;
    font-size: 20px;
    text-align: center;
    line-height: 50px;
    transition: .5s;

}
.tableBtn:hover {
    background-color: #a79a9a;
    color: #222222;
}

.pplimg img{
    width: 258px;
    height: 240px;
    vertical-align: top;
}

.Sstitle {
    color: #555555;
    font-size: 20px;
}
.environment {
    margin: auto;
    text-align: center;
    padding-top: 50px;
}



.place {
    text-align: center;
    padding-top: 50px;
    margin-top: 50px;
    display: inline-block;
}
.massage {
    width: 0;
    height: 0;
    border: 90px solid transparent;
    border-bottom-color: rgba(245, 252, 158, .3);
    position: relative;
    top: -25px;
}

.massage:after {
    content:'';
    position:absolute;
    left: -90px;
    top: 90px;
    width: 0;
    height: 0;
    border: 90px solid transparent;
    border-top-color:rgba(245, 252, 158,.3);
}
.service {
    text-align: center;
    margin: auto;
}
.content {
    text-align: center;
    display: inline-block;
}

.box1{
    background-image: url(assets/images/massage.png) ;
    background-repeat: no-repeat;
    background-position: bottom;

}
.box2{
    background-image: url(assets/images/bath.png) ;
    background-repeat: no-repeat;
    background-position: bottom;

}
.box3{
    background-image: url(assets/images/use.png) ;
    background-repeat: no-repeat;
    background-position: bottom;

}
.back {
    width: 960px;
    height: 450px;
    padding: 40px 0 40px 0;
    background: #fd9191;
    background: -moz-linear-gradient(-45deg, #fd9191 0%, #9efcb4 100%);
    background: -webkit-linear-gradient(-45deg, #fd9191 0%, #9efcb4 100%);
    background: linear-gradient(135deg, #fd9191 0%, #9efcb4 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e55d87', endColorstr='#5fc3e4', GradientType=1 );
    color: whitesmoke ;
}


.bottom {
    background-color: #fddd8a;
    color: #fd9191;
    text-align: center;
    margin: auto;
    float: left;
    width: 960px;

}
a {
    text-decoration: none;
    color: silver;
}

.footerContent {
    float: left;
    width: 550px;
    height: 200px;
}
.footerText {
    float: left;
}

.Tbox{
    width: 450px;
    padding: 10px;
}

.list-group .item{
    float:left;
    height: 310px;
    margin: 10px;

}

.item31 {
    width: 300px;
    background-image: url(assets/images/gallery_img01.jpg);
}
.item32 {
    width: 600px;
    background-image: url(assets/images/gallery1.jpeg)
}